{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit=no>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/css/dashboard.css' %}"/>
</head>

    <nav class="navbar navbar-expand-lg bg-dark rounded-bottom box-shadow">
        <div class="container-fluid">

            <a class="navbar-brand text-center" style="color: rgb(248, 248, 248)" href="#">
                <img src="{% static '/dashboard/img/file-text.svg' %}" alt="Logo" width="60" height="62" class="d-inline-block align-text-center" style="color:aliceblue">
            </a>

            <a class="text-center" style="color: rgb(248, 248, 248)" href="http://127.0.0.1:8000/dashboard">
                <img src="{% static '/dashboard/img/Telefonica.png' %}" alt="Logo" width="300" height="100" class="d-inline-block align-text-center" style="color:aliceblue">
            </a>

            <a href="">
            <button type="button" class="btn btn-secondary rounded-5" style="background-color: rgb(88, 87, 87);">Déconnexion</button>
            </a>
        </div>
    </nav>

    <body>
        <section>
            <div class="container-md text-center row justify-content-center mx-auto">
                <h3 class="align-text-center mt-3" style="color: #000;">
                Ajouter un projet
                </h3>
        </section>

        <section>
            <div class="container-md border w-25 rounded-4 text-center mx-auto mb-3 mt-3"
            style="background-color:#D9D9D9">
                
                <form action="addrecord/" method="post">
                {% csrf_token %}

                <div class="mb-3 mt-3">
                    Nom du projet<br>
                    <input name="nom" placeholder="Nom projet" class="text-center rounded-1">
                </div>
                <div class="mb-3">    
                    date de création<br>
                    <input name="date_creation" placeholder="yyyy-mm-dd" class="text-center rounded-1">
                </div>
                <div class="mb-3">
                    Date de modification<br>
                    <input name="date_modification" placeholder="yyyy-mm-dd" class="text-center rounded-1">
                </div>
                    <input type="submit" class="btn btn-secondary rounded-5" style="background-color: rgb(88, 87, 87);" value="Ajouter">
                </form>
            </div>
        </section>

    </body>
</html>